<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> {{'title.home' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngFor="let board of boards" [attr.board]="board">
    <ion-card>
      <ion-card-header>
        <ion-button
          (click)="deleteBord(board.id)"
          expand="block"
          fill="clear"
          shape="round"
        >
          {{'btn.delete' | translate}}
        </ion-button>
        <ion-card-subtitle>Id {{board.id}}</ion-card-subtitle>
        <ion-card-title>Title {{board.title}}</ion-card-title>
      </ion-card-header>
      <ion-item *ngFor="let task of board.tasks; let i = index">
        <ion-icon
          name="pin"
          slot="start"
          (click)="workWithTask(board, task, i)"
        ></ion-icon>
        <ion-label [ngClass]="task.label">{{task.description}}</ion-label>
        <ion-button fill="outline" slot="end">Drop</ion-button>
      </ion-item>
    </ion-card>
    <ion-button
      (click)="workWithTask(board)"
      expand="block"
      fill="clear"
      shape="round"
    >
      Add
    </ion-button>
  </div>
  <ion-fab
    horizontal="end"
    vertical="bottom"
    slot="fixed"
    *ngIf="this.boards !== undefined"
  >
    <ion-fab-button color="danger" (click)="workWithBoards()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="ion-text-center" *ngIf="this.boards === undefined">
    <h3>Need auth</h3>
  </div>
  <!-- <ion-button (click)="check()" expand="block" fill="clear" shape="round">
    Click me
  </ion-button> -->
  <!-- <ion-button (click)="updateTest()" expand="block" fill="clear" shape="round">
    Test
  </ion-button> -->
  <!-- <ion-button (click)="openDialog()" expand="block" fill="clear" shape="round">
    openDialog
  </ion-button> -->
</ion-content>
