<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> {{'title.home' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <div *ngFor="let board of boards" [attr.board]="board">
    <div class="card">
      <div class="container">
        <button
          (click)="deleteBord(board.id)"
          expand="block"
          fill="clear"
          shape="round"
        >
          {{'btn.delete' | translate}}
        </button>
        <h4><b>Id {{board.id}}</b></h4>
        <p>Title {{board.title}}</p>
      </div>
      <div *ngFor="let task of board.tasks; let i = index">
        <button name="pin" slot="start" (click)="workWithTask(board, task, i)">
          /
        </button>
        <p [ngClass]="task.label">{{task.description}}</p>
        <button fill="outline" slot="end">Drop</button>
      </div>
      <button
        (click)="workWithTask(board)"
        expand="block"
        fill="clear"
        shape="round"
      >
        Add
      </button>
    </div>
  </div>
  <ion-fab
    horizontal="end"
    vertical="bottom"
    slot="fixed"
    *ngIf="this.boards !== undefined"
  >
    <ion-fab-button color="danger" (click)="workWithBoards()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <div *ngFor="let board of boards" [attr.board]="board">
    <ion-card>
      <ion-card-header>
        <ion-button
          (click)="workDelete(1, board.id, board.name)"
          expand="block"
          fill="clear"
          shape="round"
        >
          {{'btn.delete' | translate}}
        </ion-button>
        <ion-card-subtitle
          >{{'label.id' | translate}} {{board.id}}
        </ion-card-subtitle>
        <ion-card-title
          >{{'label.title' | translate}} {{board.name}}</ion-card-title
        >
      </ion-card-header>
      <ion-item *ngFor="let task of board.tasks; let i = index">
        <ion-icon
          name="pin"
          slot="start"
          (click)="workWithTask(board, task, i)"
        ></ion-icon>
        <ion-label [style.background]="task.label"
          >{{task.description}}</ion-label
        >
        <ion-button
          (click)="workDelete(2, board, task, i)"
          fill="outline"
          slot="end"
          >{{'btn.drop' | translate}}</ion-button
        >
      </ion-item>
      <ion-button
        (click)="workWithTask(board)"
        expand="block"
        fill="clear"
        shape="round"
      >
        {{'btn.add' | translate}}
      </ion-button>
    </ion-card>
  </div>
  <ion-fab
    horizontal="end"
    vertical="bottom"
    slot="fixed"
    *ngIf="this.boards !== undefined"
  >
    <ion-fab-button color="danger" (click)="workWithBoards()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="ion-text-center" *ngIf="this.boards === undefined">
    <h3>{{'txt.need-auth' | translate}}</h3>
  </div>
  <!-- <ion-button (click)="check()" expand="block" fill="clear" shape="round">
    Click me
  </ion-button> -->
  <!-- <ion-button (click)="updateTest()" expand="block" fill="clear" shape="round">
    Test
  </ion-button> -->
  <!-- <ion-button (click)="openDialog()" expand="block" fill="clear" shape="round">
    openDialog
  </ion-button> -->
  <ion-input type="file" (change)="onChange($event)"> </ion-input>
  <ion-item>
    <ion-textarea disabled="false" autoGrow="true" [value]="fileContent"></ion-textarea>
  </ion-item>
  <ion-button (click)="onDowloadFile()" expand="block" fill="clear" shape="round">
    Dowload
  </ion-button>
</ion-content>
