<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'title.auth'|translate}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="form">
      <ion-item>
        <ion-label position="stacked">{{'title.username'|translate}}</ion-label>
        <ion-input type="text" required formControlName="username"
          placeholder="{{'text.enter' | translate}} {{'title.username' | translate}}"></ion-input>
      </ion-item>
      <div class="messageError">
        <div *ngIf="
        (form.get('username').touched || form.get('username').dirty) &&
        form.get('username').hasError('required')
          ? 'is-invalid'
          : '' || form.get('username').hasError('minlength')
          ? 'is-invalid'
          : '' || form.get('username').hasError('maxlength')
          ? 'is-invalid'
          : '' ||
            ((form.get('username').touched || form.get('username').dirty) &&
              !form.get('username').invalid)
          ? 'is-valid'
          : ''">
          {{ form.get("username").hasError("required") ? (("title.username" | translate) +' '+
          ("text.valid.error.is-required" | translate)) : "" }}
          {{ form.get("username").hasError("minlength") ? (("text.valid.number.4" | translate) +' '+
          ("text.valid.error.letters-required" | translate)) : "" }}
          {{ form.get("username").hasError("maxlength") ? (("text.valid.number.45" | translate) +' '+
          ("text.valid.error.letters-required" | translate)) : "" }}
        </div>
      </div>
      <ion-item>
        <ion-label position="stacked">{{'title.psw'|translate}}</ion-label>
        <ion-input type="password" required formControlName="password"
          placeholder="{{'text.enter' | translate}} {{'title.psw' | translate}}"></ion-input>
      </ion-item>
      <div class="messageError">
        <div *ngIf="
        (form.get('password').touched || form.get('password').dirty) &&
        form.get('password').hasError('required')
          ? 'is-invalid'
          : '' || form.get('password').hasError('minlength')
          ? 'is-invalid'
          : '' || form.get('password').hasError('maxlength')
          ? 'is-invalid'
          : '' ||
            ((form.get('password').touched || form.get('password').dirty) &&
              !form.get('password').invalid)
          ? 'is-valid'
          : ''">
          {{ form.get("password").hasError("required") ? (("title.psw" | translate) +' '+
          ("text.valid.error.is-required" | translate)) : "" }}
          {{ form.get("password").hasError("minlength") ? (("text.valid.number.4" | translate) +' '+
          ("text.valid.error.letters-required" | translate)) : "" }}
          {{ form.get("password").hasError("maxlength") ? (("text.valid.number.45" | translate) +' '+
          ("text.valid.error.letters-required" | translate)) : "" }}
        </div>
      </div>
      <div *ngIf="isRegistration == false; else elseBlock">
        <ion-button type="submit" class="ion-margin-top" expand="block" [disabled]="form.invalid"
          (click)="onLoginClick()">
          {{'btn.login' | translate}}
        </ion-button>
        <ion-button expand="block" fill="clear" (click)="switchForm()">{{'btn.registration' | translate}}</ion-button>
      </div>
      <ng-template #elseBlock>
        <ion-button type="submit" class="ion-margin-top" expand="block" [disabled]="form.invalid"
          (click)="onRegistrationClick()">
          {{'btn.registration' | translate}}
        </ion-button>
        <ion-button expand="block" fill="clear" (click)="switchForm()">{{'btn.login' | translate}}</ion-button>
      </ng-template>
    </div>
  </form>

</ion-content>