<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'title.home'|translate}}</ion-title>
    <!-- <ion-input #filter type="text" placeholder="Filter" slot="end" (keyup)="onKey(filter.value)"
      (keyup.enter)="onEnter(filter.value)">
    </ion-input> -->
    <div slot="end">
      <input #filter type="text" name="team" id="favorite_team" list="team_list" placeholder="{{'text.filter' | translate}}"
        (keyup)="onKey(filter.value)" (keyup.enter)="onEnter(filter.value)" (change)="saveCode($event)">
      <button (click)="ClearFilter()" autocomplete="off">X</button>
      <datalist id="team_list">
        <option *ngFor="let c of codeList" [value]="c.name" style="overflow-y: auto!important">{{c.name}}</option>
      </datalist>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm
        *ngFor="let prodList of productsList | paginate: { itemsPerPage: itemsPerPage , currentPage: p, totalItems: totalItems }">
        <div>
          <ion-card style="width: 280px;">
            <ion-img [src]="img" style="box-sizing: border-box; width: 100%; padding: 1px"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>{{prodList.id_Product}}</ion-card-subtitle>
              <ion-card-title [id]="'name-'+prodList.id_Product" attr.data-value="{{prodList.name}}">{{prodList.name}}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content [id]="'description-'+prodList.id_Product" attr.data-value="{{prodList.description}}"
              style="height: 100px;">
              {{prodList.description}}
            </ion-card-content>
            <ion-item>
              <ion-icon name="remove-circle-outline" (click)="decrement(prodList.id_Product)"></ion-icon>
              <ion-button [id]="prodList.id_Product" class="btn-count-prod" fill="clear" disabled color="warning">
                1
              </ion-button>
              <ion-icon name="add-circle-outline" (click)="increment(prodList.id_Product)"></ion-icon>
              <ion-button slot="end" (click)="modalInfo(prodList.id_Product)">
                {{'btn.buy'|translate}}
              </ion-button>
            </ion-item>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <pagination-controls (pageChange)="getPage(p = $event)" *ngIf="productsList.length !== 0"></pagination-controls>
  <div class="ion-text-center" *ngIf="productsList.length === 0">
    <h3>{{'text.null-products' | translate}}</h3>
  </div>
</ion-content>