<ion-header>
  <ion-toolbar>
    <ion-title
      >{{actionsOnAddTask ? ['txt.add-new-task' | translate]:
      ['txt.update-task-for-board' | translate]}}</ion-title
    >
    <ion-buttons slot="end">
      <ion-button (click)="onClose()"> {{'btn.close' | translate}} </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="forgotTaskForm" autocomplete="off">
    <ion-item>
      <ion-label position="stacked">NAME</ion-label>
      <ion-input
        formControlName="Name"
        type="text"
        #Name
        required
        placeholder="ENTER NAME"
      ></ion-input>
    </ion-item>
    <control-messages
      [control]="forgotTaskForm.controls.Name"
    ></control-messages>
    <ion-item>
      <ion-label position="stacked"
        >{{'txt.description' | translate}}</ion-label
      >
      <ion-input
        formControlName="Description"
        type="text"
        #Description
        required
        [placeholder]="'txt.ent-task-descr' | translate"
      ></ion-input>
    </ion-item>
    <control-messages
      [control]="forgotTaskForm.controls.Description"
    ></control-messages>
    <ion-item>
      <ion-label position="stacked">DATETIME</ion-label>
      <ion-input
        formControlName="DateTime"
        type="datetime-local"
        #DateTime
        required
        placeholder="ENTER DATETIME"
      ></ion-input>
    </ion-item>
    <control-messages
      [control]="forgotTaskForm.controls.DateTime"
    ></control-messages>
    <ion-list>
      <ion-item>
        <ion-label>Extension TYPE</ion-label>
        <ion-select (ionChange)="anyFunc()" #anyName>
          <ion-select-option
            *ngFor="let selectL of selectList"
            [value]="selectL.key"
            >{{selectL.listName}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-list>
    <input type="file" [accept]="keyList" (change)="onChange($event)" />
    <ion-item>
      <ion-textarea
        disabled="false"
        autoGrow="true"
        [value]="fileContent"
      ></ion-textarea>
    </ion-item>
    <ion-button
      (click)="onDowloadFile()"
      expand="block"
      fill="clear"
      shape="round"
    >
      Dowload
    </ion-button>
    <ion-item>
      <ion-label position="stacked">FILE</ion-label>
      <ion-input
        formControlName="File"
        type="text"
        #File
        placeholder="ENTER FILE"
      ></ion-input>
    </ion-item>
    <ion-button
      (click)="sendingData()"
      expand="block"
      fill="clear"
      shape="round"
      [disabled]="!forgotTaskForm.valid"
    >
      {{actionsOnAddTask ? ['btn.add' | translate] : ['btn.update' |
      translate]}}
    </ion-button>
  </form>
</ion-content>
