<ion-header>
  <ion-toolbar>
    <ion-title>{{'title.reset-password' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" [text]="('btn.back') | translate"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="forgotPswForm" autocomplete="off">
    <ion-item lines="full">
      <ion-label position="floating">{{'label.email' | translate}}</ion-label>
      <ion-input formControlName="email" type="email" #email required
        [placeholder]="'placeholder.enter-email' | translate"></ion-input>
    </ion-item>
    <control-messages [control]="forgotPswForm.controls.email"></control-messages>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="PasswordRecover(email)" [disabled]="!forgotPswForm.valid">{{'btn.send' |
          translate}}</ion-button>
      </ion-col>
    </ion-row>

    <small>
      {{'message.reset-psw'| translate}}
    </small>
  </form>
</ion-content>