<jqxMenu [theme]="'material-purple'" #jqxMenu [width]="'100%'" [height]="32">
    <ul>
        <li>
            <a [routerLink]="['/home']" routerLinkActive="active">
                Home
            </a>
        </li>
        <li>
            <a routerLink="/grid" routerLinkActive="active">
                Grid
            </a>
        </li>
        <li>
            <a routerLink="/weather" routerLinkActive="active">
                Weather
            </a>
        </li>
    </ul>
</jqxMenu>
<br />
<br />