<jqxMenu [theme]="'material-purple'" #jqxMenu [width]="'100%'" [height]="32">
    <ul>
        <li>
            <a [routerLink]="['/home']" routerLinkActive="active">
                Home
            </a>
        </li>
        <li>
            <a [routerLink]="['/grid']" routerLinkActive="active">
                Grid
            </a>
        </li>
        <li>
            <a [routerLink]="['/weather']" routerLinkActive="active">
                Weather
            </a>
        </li>
        <li>
            <a [routerLink]="['/test']" routerLinkActive="active">
                Test
            </a>
        </li>
        <li>
            <a [routerLink]="['/inline-edit-demo']" routerLinkActive="active">
                Inline edit demo
            </a>
        </li>
        <li>
            Ngx
            <ul>
                <li>
                    <a [routerLink]="['/ngx/chart']" routerLinkActive="active">
                        Chart
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/ngx/datatable']" routerLinkActive="active">
                        Datatable
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/ngx/litemodal']" routerLinkActive="active">
                        Lite modal
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</jqxMenu>
<br />
<br />