<ion-header>
  <ion-toolbar>
    <ion-title>{{'title.registration'| translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">{{'label.email'| translate}}</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">{{'label.password'| translate}}</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="signUp(email, password)" expand="block">{{'btn.sign-up'|translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>