@model IEnumerable<FrontEnd.Models.Orders>
@{
    ViewBag.Title = "Orders";
}

@*Еще бы добавить дату заказа*@
<div class="container">
    <h2>@ViewBag.Title.</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Count</th>
            </tr>
        </thead>
        <tbody id="todos">

        </tbody>
    </table>
</div>

<script type="text/javascript">
    let todos = [];
    check();

    function check() {
        if (localStorage.getItem("id_User") != null) {
            const url = 'https://localhost:5001/orders/readinforders/';

            fetch(url + localStorage.getItem("id_User"), {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(function (responce) {
                    return responce.json();
                })
                .then(function (result) {
                    var tableBody = document.getElementById("todos");
                    console.log("result", result);
                    for (var i = 0; i < result.length; i++) {
                        var tr = document.createElement("tr")
                        tableBody.appendChild(tr)
                        for (var j = 0; j < Object.keys(result[i]).length; j++) {
                            var rowValues = Object.values(result[i])
                            var td = document.createElement('td');
                            td.setAttribute('scope', 'row');
                            td.innerHTML = rowValues[j]
                            tr.appendChild(td);
                        }
                    }
                })
                .catch(function (error) {
                    console.log('Request failed', error);
                });
        }
        else {
            alert("Need Authorization")
        }
    }
</script>