<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'title.transfer' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>{{'label.list' | translate}}</ion-label>
      <ion-select (ionChange)="anyFunc()" #anyName>
        <ion-select-option
          *ngFor="let selectL of selectList"
          [value]="selectL.key"
          >{{selectL.listName}}</ion-select-option
        >
      </ion-select>
    </ion-item>
  </ion-list>
  <form [formGroup]="forgotParsForm" autocomplete="off">
    <ion-item>
      <ion-label position="stacked">{{'label.separator-word-line' | translate}}</ion-label>
      <ion-input
        formControlName="chartSymbol"
        type="text"
        #chartSymbol
        required
        [placeholder]="'placeholder.enter-chart' | translate"
      ></ion-input>
    </ion-item>
    <control-messages
      [control]="forgotParsForm.controls.chartSymbol"
    ></control-messages>
  </form>
  <ion-textarea
    id="file"
    type="text"
    #file
    required
    [placeholder]="'placeholder.enter-info-file' | translate"
    rows="9"
    style="border: 1px solid #c9c4f5"
  ></ion-textarea>
  <ion-textarea
    readonly
    id="parseInfo"
    type="text"
    required
    rows="9"
    style="border: 1px solid #c9c4f5"
  ></ion-textarea>
  <ion-button
    [disabled]="!forgotParsForm.valid"
    (click)="onParseInfo(chartSymbol)"
    expand="block"
    fill="solid"
    shape="round"
  >
    {{'btn.parse' | translate}}
  </ion-button>
  <ion-button
    [disabled]="!forgotParsForm.valid || keyList == ''"
    (click)="onAddObj()"
    expand="block"
    fill="solid"
    shape="round"
  >
    {{'btn.add' | translate}}
  </ion-button>
</ion-content>
