<ion-header>
  <ion-toolbar>
    <ion-title>{{'title.switch-password' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="forgotResetPswForm" autocomplete="off">
    <ion-item lines="full">
      <ion-label position="stacked">{{'label.email' | translate}}</ion-label>
      <ion-input
        formControlName="email"
        type="text"
        #email
        required
        [placeholder]="'placeholder.enter-email' | translate"
      ></ion-input>
    </ion-item>
    <control-messages
      [control]="forgotResetPswForm.controls.email"
    ></control-messages>

    <br />

    <ion-item lines="full">
      <ion-label position="stacked">{{'label.password' | translate}}</ion-label>
      <ion-input
        formControlName="psw"
        type="password"
        #password
        required
        [placeholder]="'placeholder.enter-psw' | translate"
      ></ion-input>
    </ion-item>
    <control-messages
      [control]="forgotResetPswForm.controls.psw"
    ></control-messages>

    <br />

    <ion-item lines="full">
      <ion-label position="stacked"
        >{{'label.password-confirm' | translate}}</ion-label
      >
      <ion-input
        formControlName="confirmPsw"
        type="password"
        #password
        required
        [placeholder]="'placeholder.enter-psw' | translate"
      ></ion-input>
    </ion-item>
    <control-messages
      [control]="forgotResetPswForm.controls.confirmPsw"
    ></control-messages>

    <div class="messageError">
      <div *ngIf="!forgotResetPswForm.valid">
        {{'placeholder.passwords-must-match' | translate}}
      </div>
    </div>

    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          (click)="switchPassowd(email, password)"
          expand="block"
          [disabled]="!forgotResetPswForm.valid"
          >{{'btn.sign-up' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
