<nav class="navbar navbar-expand-lg navbar-dark bg-dark container">
  <a class="navbar-brand" href="#">{{'navbar.name' | translate}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" [routerLink]="['/score']">{{'title.title-score' | translate}}</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/orders']">{{'title.title-orders' | translate}}</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/basket']">{{'title.title-basket' | translate}}
          <div *ngIf="countPosition != 0" class="text-warning countProductBasket">{{countPosition}}
          </div>
        </a>
      </li>
      <li [hidden]="isLogin">
        <a class="nav-link" role="button" (click)="logout()">{{'title.title-logout' | translate}}</a>
      </li>
      <li [hidden]="!isLogin">
        <a class="nav-link" [routerLink]="['/login']">{{'title.title-login' | translate}}</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>